
.vs/GraphicsController/FileContentIndex/3ec4d739-6f44-4063-971d-932b4f19f67f.vsidx
.vs/GraphicsController/FileContentIndex/43af0d1d-6149-4f60-8af3-b447d8c60824.vsidx
.vs/GraphicsController/FileContentIndex/740c95b2-38f4-46cc-b944-51e4e9fd51da.vsidx
.vs/GraphicsController/FileContentIndex/7e6a914b-77ad-4d6d-8d07-726e71bb33c5.vsidx
.vs/GraphicsController/FileContentIndex/read.lock
